<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500 - Error del Servidor</title>
    <script>
        /*window.location.href = "http://localhost:8000/admin/";
        window.onload = function() {
            alert("¡Ups! Algo salió mal en el servidor. Por favor, intenta más tarde.");
        }*/

        function mostrarPopup() {
            // Obtener el mensaje pasado desde la vista Django
            const mensaje = "¡Ups! Algo salió mal en el servidor. Por favor, intenta más tarde.";
            //const operacionExitosa = {{ operacion_exitosa|yesno:"true,false" }};
            
            // Mostrar el popup con el mensaje
            const respuesta = confirm(mensaje);
            
            
            window.location.href = "http://localhost:8000/admin/";
        }
        window.onload = mostrarPopup;
    </script>
</head>
<body>
    <h1>¡Algo salió mal!</h1>
    <p>Lo sentimos, pero hubo un error en el servidor. Por favor, inténtalo de nuevo más tarde.</p>
</body>
</html>